{{set . "title" "ToGo App"}}
{{template "header.html" .}}

<header style="background:#99DDFF" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">ToGo App</a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>

  <form action="/Task/add" autocomplete="on" method="post">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" name="task">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add</button>
          </span>
        </div>
      </div>
    </div>
  </form>

   <div class="row">
      <div class="col-lg-6">

        <ul>
          {{range .tasks}}
          <li>
            {{if .IsDone}}
              <form action="/Task/undone" autocomplete="on" method="post">
              <span style="text-decoration:line-through">{{.Description}}</span>
              <input type="hidden" name="taskId" value="{{.Id}}"/>
               <button class="btn btn-default" type="submit">Undone</button>
              </form>
            {{else}}
              <form action="/Task/done" autocomplete="on" method="post">
              {{.Description}}
              <input type="hidden" name="taskId" value="{{.Id}}"/>
               <button class="btn btn-default" type="submit">Done</button>
              </form>
            {{end}}
          </li>
          {{end}}
        </ul>
      </div>
    </div>
</div>

{{template "footer.html" .}}